{{- define "scripts-library" -}}

log_color() { color_code="$1"; shift; printf "\033[${color_code}m%s\033[0m\n" "$*" >&2; }
log_red() { log_color "0;31" "$@"; }
log_blue() { log_color "0;34" "$@"; }
log_task() { log_blue " %s" "$@"; }
log_error() { log_red " %s" "$@"; }

sudo() {
  if [ "$(id -u)" -eq 0 ]; then
    "$@"
  else
    command sudo "$@"
  fi
}

install_package() {
  {{ if .is_arch -}}
  yay -S --noconfirm --needed "$@"
  {{ else if .is_ubuntu -}}
  sudo apt install --yes "$@"
  {{ end -}}
}

{{- end -}}
