{{- $name := promptStringOnce . "name" "your name please:" -}}
{{- $email := promptStringOnce . "email" "What is your EMail Address" -}}

{{- $interactive := and (not .chezmoi.flags.force) (not .chezmoi.flags.promptDefaults) (or stdinIsATTY (env "CI") (env "DEVCONTAINER") (env "DOCKER_CONTAINER")) -}}

{{- $arch := eq .chezmoi.os "linux" -}}
{{- $is_arch := false -}}
{{- $is_ubuntu := false -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $is_arch = eq .chezmoi.osRelease.id "arch" -}}
{{-   $is_ubuntu = eq .chezmoi.osRelease.id "ubuntu" -}}
{{- end -}}

{{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") | not | not -}}
{{- $gnome := lookPath "gnome-shell" | not | not -}}
{{- $headless := or (env "SSH_CLIENT" | not | not) (not (or (env "DISPLAY") (env "WAYLAND_DISPLAY"))) -}}

{{- $minimum := or $devcontainer (not $is_arch) -}}

{{- if hasKey . "name" -}}{{ $name = .name }}{{- end -}}
{{- if $interactive -}}
{{-   $name = promptStringOnce . "name" "What is your full name" $name -}}
{{- end -}}

{{- if hasKey . "email" -}}{{- $email = .email -}}{{- end -}}
{{- if $interactive -}}
{{-   $email = promptStringOnce . "email" "What is your email" $email -}}
{{-   $email = lower $email -}}
{{- end -}}

{{- if hasKey . "is_devcontainer" -}}{{- $minimum = .is_devcontainer -}}{{- end -}}
{{- if $interactive -}}
{{-   $minimum = promptBoolOnce . "is_devcontainer" "Should install in minimum mode" $minimum -}}
{{- end -}}

sourceDir: "{{ .chezmoi.workingTree }}"

verbose: true

pager: ""

hooks:
  read-source-state:
    pre:
      command: {{ .chezmoi.workingTree }}/home/.chezmoihooks/ensure-pre-requisites.sh

data:
  is_arch: {{ $is_arch }}
  is_ubuntu: {{ $is_ubuntu }}
  is_wsl: {{ $wsl }}
  is_devcontainer: {{ $minimum }}
  is_gnome: {{ $gnome }}
  is_headless: {{ $headless }}
  name: "{{ $name }}"
  email: "{{ $email }}"
  editor: "nvim"
