#!/bin/bash
set -eu

cat << "EOF"

######################################################
#  Dotfiles applied successfully!                    #
#                                                    #
#  To complete setup:                                #
#    1. Restart your terminal or run: exec zsh       #
#    2. Run :Lazy sync in Neovim to install plugins  #
#    3. Run :Mason in Neovim to install LSP servers  #
#                                                    #
######################################################

EOF
