[Unit]
Description=Dunst notification daemon
Documentation=man:dunst(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst
ExecReload=/usr/bin/dunstctl reload
Slice=session.slice

[Install]
WantedBy=graphical-session.target
